SERVICE_PRINCIPAL_NAME=<your-service-principal-name>
TF_VAR_RESOURCE_GROUP_NAME=<your-resource-group-name>
TF_VAR_STORAGE_ACCOUNT_NAME=<your-storage-account-name>
TF_VAR_CONTAINER_NAME=<your-container-name>
TF_VAR_LOCATION=<your-location>
TF_VAR_ENVIRONMENT=<your-environment>
TF_VAR_WEBAPP_RESOURCE_GROUP_NAME=<your-webapp-resource-group-name>
# Add the keyvault variables later when we need to use them in the terraform code
TF_VAR_KEYVAULT_RESOURCE_GROUP_NAME=<your-keyvault-resource-group-name>
TF_VAR_KEYVAULT_NAME=<your-keyvault-name>
CORS_ORIGIN=<your-cors-origin>